/* luke grube
style format for SPA snake game
https://github.com/lgrube/personal_project.git
*/
/*testing to see if git-plus works correctly*/
/*----------------create variable--------------*/
body {
	margin:0px;
	padding:0px;
}

#game-area {
	margin:0px;
	padding:0px;
}

#game-area:focus { outline: none; }

/*----------------end variable creation ----------------*/

/*--------------snake color----------------------*/

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: orangered;
}

a.snake-link:hover {
  color: purple;
}

/*-------------end snake color-------------------*/

/*----------------create blocks--------------*/
	/*--creating pause screen------*/
.snake-pause-screen {
  font-family: Verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  position:absolute;
  width:300px;
  height:100px;
  text-align:center;
  top:50%;
  left:50%;
  margin-top:-40px;
  margin-left:-150px;
  display:none;
  background-color:grey;
  color:pink;
}
	/*-----end of pause screen----*/

	/*-----bottem panel with github repo and length counter*/
.snake-panel-component {
	position: absolute;
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: 20px;
	color: black;
	text-align: center;
	background-color: plum;
	padding: 8px;
	margin: 0px;
}
	/*---end of bottom panel-----*/

	/*------snake block------*/
.snake-snakebody-block {
	margin: 0px;
	padding: 0px;
	background-color: black;
	position: absolute;
	background-repeat: no-repeat;
}

/*---------------end blocks----------------*/

/*--------------snake image-------------------*/
	/*---snakes alive-----*/
.snake-snakebody-alive {
	background-image: url('./images/snakeblockalive.png');
}
/*------snakes dead-----*/
.snake-snakebody-dead {
	background-image: url('./images/snakeblockdead.png');
}
/*--------------end snake image---------------*/

/*----------------create food-----------------*/

  /*-----food block-------*/
.snake-food-block {
  margin:0px;
  padding:0px;
  background-color: white;
  position: absolute;
}
  /*----end of food block-----*/

	/*----dying block------*/
.snake-dead-block {
	margin:0px;
	padding:0px;
	background-color: orangered;
	border: 0px solid darkred;
	position: absolute;
}
	/*----end dying block----*/

/*----------------end food--------------------*/

/*----------------create game board----------*/

  /*----playing outline-----*/
.snake-playing-field {
  margin: 0px;
  padding: 0px;
  position: absolute;
  background-color: orangered;
  border: 0px solid darkred;
}
  /*-----end playing outline----*/

  /*-----game board-----*/
.snake-game-container {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  zoom: 1;
  background-color: skyblue;
  position: relative;
}
  /*---end of game board-----*/

/*-----------------end game board------------*/

/*-----------------create dialog box---------*/

	/*---welcome screen with information---*/
.snake-welcome-dialog {
	padding:8px;
	margin:0px;
	background-color: grey;
	color: yellow;
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-top: -100px;
	margin-left: -158px;
	text-align: center;
	display: block;
}
	/*---end welcome screen----*/

	/*---restart screen-----*/
.snake-try-again-dialog {
	padding:8px;
	margin: 0px;
	background-color: grey;
	color: yellow;
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 100px;
	margin-top: -75px;
	margin-left: -158px;
	text-align: center;
	display: none;
}
	/*----end restart screen---*/

/*----------------end dialog box-------------*/
/*----------END CSS--------------------------*/
